:root {
  --line: 4px solid #999;
  --red-line: 4px solid red;
}

.vertical-line {
  border-left: var(--line);
}

.bottom-line {
  border-bottom: var(--line);
}

tbody {
  position: relative;
  left: 35px;
}

tbody td {
  width: 70px;
  height: 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.termineitor {
  position: relative;
  right: +35px;
}

.name-input {
  width: 68px;
  height: 25px;
  padding: 0 !important;
}

.th-block {
  width: 70px;
}

.amida-table {
  position: relative;
  left: 35px;
}
